<div class="jumbotron center">
  <h1>About Us</h1>
  <p>We are working on our One Month Rails Pinteresting App</p>
  <p><a class="btn btn-primary btn-lg" href="http://google.com" role="button">Learn more</a></p>
</div>
